<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>favourites</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <div *ngIf="isLoading">
    <ion-spinner></ion-spinner>
    <p>Loading favourites...</p>
  </div>

  <p *ngIf="!isLoading && errorMessage">{{ errorMessage }}</p>

  <p *ngIf="!isLoading && !errorMessage && recipes.length === 0">
    No favourites yet. Tap the heart on a recipe to save it.
  </p>

  <ion-list *ngIf="!isLoading && recipes.length > 0">
    <ion-item *ngFor="let r of recipes">
      <ion-card style="width: 100%;">
        <ion-img [src]="r.image"></ion-img>

        <ion-card-header>
          <ion-card-title>{{ r.title }}</ion-card-title>
        </ion-card-header>

        <ion-card-content>
          <ion-button expand="block" (click)="openDetails(r.id)">
            Details
          </ion-button>

          <ion-button expand="block" fill="outline" (click)="remove(r.id)">
            <ion-icon name="trash-outline"></ion-icon>
            Remove
          </ion-button>
        </ion-card-content>
      </ion-card>
    </ion-item>
  </ion-list>

</ion-content>

