<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>

    <ion-title>recipe-details</ion-title>
  </ion-toolbar>
</ion-header>



<ion-content class="ion-padding">
  <div *ngIf="isLoading">
    <ion-spinner></ion-spinner>
    <p>Loading recipe...</p>
  </div>

  <p *ngIf="!isLoading && errorMessage">{{ errorMessage }}</p>

  <div *ngIf="!isLoading && recipe">
    <ion-img [src]="recipe.image"></ion-img>
    
    <h2>{{ recipe.title }}</h2>
    <ion-button expand="block" (click)="toggleFavourite()" *ngIf="recipe">
      {{ isFavourite ? 'Remove From Favourites' : 'Add to Favourites' }}
    </ion-button>
    <p *ngIf="recipe.readyInMinutes">Ready in {{ recipe.readyInMinutes }} minutes</p>
    <p *ngIf="recipe.servings">Servings: {{ recipe.servings }}</p>

  <ion-list *ngIf="recipe?.extendedIngredients?.length">
  <ion-item *ngFor="let ing of recipe.extendedIngredients">
    <ion-label>
      <ng-container *ngIf="useMetric; else usBlock">
        {{ ing.measures?.metric?.amount ?? ing.amount }}
        {{ ing.measures?.metric?.unitLong ?? ing.unit }}
        — {{ ing.name }}
      </ng-container>

      <ng-template #usBlock>
        {{ ing.measures?.us?.amount ?? ing.amount }}
        {{ ing.measures?.us?.unitLong ?? ing.unit }}
        — {{ ing.name }}
      </ng-template>
    </ion-label>
  </ion-item>
</ion-list>


    <h3>Instructions</h3>
    <p>{{ stripHtml(recipe.instructions) }}</p>
  </div>
</ion-content>

