.loading {
  margin-top: 12px;
}

.error {
  margin-top: 12px;
}


.recipe-card {
  width: 100%;
  margin: 12px 0;
}

.recipe-image {
  width: 100%;
  height: 160px;
  object-fit: cover;
  border-radius: 8px;
  overflow: hidden;
}

ion-card-title {
  font-size: 1rem;
}

